body {
    background-color: aquamarine;
    margin: 32px;
}

* {
    margin: 8px;
    font-family: 'Tahoma', sans-serif
}

.home {
    display: block;
    font-size: 24px;
}

.name-of-soup {
    font-size: 24px;
}